<div class="container">
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Donut Chart</h3>
            <div>
                <button id="today">Today</button>
                <button id="month">Month</button>
                <!--<button id="year">Year </button>-->
            </div>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <canvas id="myChart" style="height:250px"></canvas>
        </div>
        <!-- /.box-body -->
    </div>
</div>