<div class="container">
    <div class="box">
        <div class="box-header">
            <h1>CSP Reports</h1>
        </div>
        <!--box-header-->
        <div class="box-body">
            <table id="csp" class="table-responsive table table-bordered table-striped">
                <thead>
                <tr>
                    <th>domain</th>
                    <th>document</th>
                    <th>blocked-uri</th>
                    <th>violation</th>
                    <th>original-policy</th>
                    <th>date</th>
                </tr>
                </thead>
                <tbody id="tableContent">
                </tbody>
                <tr>
                </tr>
            </table>
        </div>
    </div>
</div>